html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
:root {
  --title-main-color: #212121;
  --main-text-color: #757575;
  --accent-text-color: #2196f3;
  --buttons-focus-color: #ffffff;
  --hero-background: #2F303A;
  --second-color-background: #F5F4FA;
  --border-color-header: #ECECEC;
  
 

}
.list{
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
