:root {
  --title-main-color: #212121;
  --main-text-color: #757575;
  --accent-text-color: #2196f3;
  --buttons-focus-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--title-main-color);
  text-decoration: none;
}
.logo .accent-color {
  color: var(--accent-text-color);
}

.buttons {
    color: var(--title-main-color);
  
}
.buttons:hover,
.buttons:focus {
color: var(--buttons-focus-color);
  background-color:var(--accent-text-color);
}
.primary-text{
    color: var(--main-text-color);
}
.primary-text-link{
    color: var(--main-text-color);
}
.primary-text-link:hover,
.primary-text-link:focus{
color: var(--accent-text-color);
}
.title-color{
    color: var(--title-main-color);
}

